<div class="container py-16 md:py-20" id="work">
  <h2
    class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
  >
    My work experience
  </h2>
  <h3
    class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
  >
    Here's what I did before freelancing
  </h3>

  <div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    <span
      class="absolute inset-y-0 left-2/5 ml-10 hidden w-0.5 bg-grey-40 md:block"
    ></span>

    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-2/5">
        <div class="flex justify-center md:justify-start">
          <span class="shrink-0">
            <img
              src="/assets/img/company/logo-admedika.svg"
              class="h-auto w-32"
              alt="company logo"
            />
          </span>
          <div class="relative ml-3 hidden w-full md:block">
            <span
              class="absolute inset-x-0 top-1/2 h-0.5 -translate-y-1/2 transform bg-grey-70"
            ></span>
          </div>
        </div>
      </div>
      <div class="md:w-3/5">
        <div class="relative flex md:pl-18">
          <span
            class="absolute left-8 top-1 hidden h-4 w-4 rounded-full border-2 border-grey-40 bg-white md:block"
          ></span>

          <div class="mt-1 flex">
            <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
            <div class="md:-mt-1 md:pl-8">
              <span class="block font-body font-bold text-grey-40">
                March 2024 - Present
              </span>
              <span
                class="block pt-2 font-header text-xl font-bold uppercase text-primary"
                >Frontend Developer</span
              >
              <div class="pt-2">
                <span class="block font-body text-black">
                  <ul>
                    <li>
                      Develop and maintain user interfaces for web applications
                      using React.js.
                    </li>
                    <li>
                      Develop, slicing, integrate backend an application using
                      Angular before move to react.js.
                    </li>

                    <li>
                      Build reusable components and front-end libraries for
                      future use.
                    </li>
                    <li>
                      Implement state management solutions using React Redux to
                      maintain application states and global state management.
                    </li>
                    <li>
                      Integrate front-end components with backend services and
                      RESTful APIs.
                    </li>
                    <li>
                      Ensure applications are responsive and perform well on all
                      devices deliverables.
                    </li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-2/5">
        <div class="flex justify-center md:justify-start">
          <span class="shrink-0">
            <img
              src="/assets/img/company/logo-falinwa.png"
              class="h-auto w-32"
              alt="company logo"
            />
          </span>
          <div class="relative ml-3 hidden w-full md:block">
            <span
              class="absolute inset-x-0 top-1/2 h-0.5 -translate-y-1/2 transform bg-grey-70"
            ></span>
          </div>
        </div>
      </div>
      <div class="md:w-3/5">
        <div class="relative flex md:pl-18">
          <span
            class="absolute left-8 top-1 hidden h-4 w-4 rounded-full border-2 border-grey-40 bg-white md:block"
          ></span>

          <div class="mt-1 flex">
            <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
            <div class="md:-mt-1 md:pl-8">
              <span class="block font-body font-bold text-grey-40">
                March 2023 - March 2024
              </span>
              <span
                class="block pt-2 font-header text-xl font-bold uppercase text-primary"
                >Odoo Developer</span
              >
              <div class="pt-2">
                <span class="block font-body text-black">
                  <ul>
                    <li>
                      Collaborate with clients and internal stakeholders to
                      gather functional and technical requirements.
                    </li>
                    <li>
                      Design and develop custom modules, interfaces, and
                      integrations on the Odoo platform
                    </li>
                    <li>
                      Customize existing Odoo functionalities to meet client
                      specifications.
                    </li>
                    <li>
                      Perform system analysis, testing, debugging, and
                      troubleshooting to ensure high-quality deliverables
                    </li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-2/5">
        <div class="flex justify-center md:justify-start">
          <span class="shrink-0">
            <img
              src="/assets/img/company/logo-huawei.png"
              class="h-auto w-32"
              alt="company logo"
            />
          </span>
          <div class="relative ml-3 hidden w-full md:block">
            <span
              class="absolute inset-x-0 top-1/2 h-0.5 -translate-y-1/2 transform bg-grey-70"
            ></span>
          </div>
        </div>
      </div>
      <div class="md:w-3/5">
        <div class="relative flex md:pl-18">
          <span
            class="absolute left-8 top-1 hidden h-4 w-4 rounded-full border-2 border-grey-40 bg-white md:block"
          ></span>

          <div class="mt-1 flex">
            <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
            <div class="md:-mt-1 md:pl-8">
              <span class="block font-body font-bold text-grey-40">
                December 2021 - December 2022
              </span>
              <span
                class="block pt-2 font-header text-xl font-bold uppercase text-primary"
              >
                Cloud App System Integration Lead
              </span>
              <div class="pt-2">
                <span class="block font-body text-black">
                  <ul>
                    <li>Managed and handled O&M B2B APP issues.</li>
                    <li>
                      Responsible for all maintenance work related to mobile and
                      website APPs.
                    </li>
                    <li>
                      Responsible for all EMS/NMS integrations and auto trouble
                      ticketing.
                    </li>
                    <li>Coded using SQL and Ruby programming</li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
