@tailwind base;
@tailwind components;

html {
  @apply font-body antialiased;
}
#navbar {
  background-color: transparent; /* Transparent by default */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

#navbar.scrolled {
  background-color: #493698; /* Sticky background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
  transform: translateY(0); /* Ensures smooth transition effect */
}

@tailwind utilities;
